@charset "UTF-8";
.header{
	z-index: 1;
}
.body {
    height: 100vh;
    margin: 0;
	text-align: center;
	z-index: 2; 
}

.wrapper {
	background: url(portfolio/img/background.png);
	background-color: rgba(0, 0, 0, 0.712);
	background-size: contain;
}

.per {background-size: 50% 50%;}

.text{
	color: aqua;
}

p.kadomaru2 {
	border-radius: 30px;
	border: 2px solid #00f;
}
.third p {
	box-sizing: border-box;
	line-height: 1.2;
	background: #eee;
	width: 200px;
	height: 60px;
	padding: 10px;
}
.skill-text {
	font-size: 1.2em;
	font-weight: bold;
	color: #000000;
}
.skill-name {
	font-size: 1.8em;
	color: rgb(0, 0, 0)
}
.main-visual-text {
	color: rgb(4, 255, 171);
	text-decoration: none;
	text-align: center;
	list-style: none;
	font-size: 1.5em;
	display: flex;
}
.main-visual-title{
	font-size: 3.4em;
	font-weight: bold;
	color: rgb(4, 255, 171);
}
.main-visual-subtitle{
	font-size: 3em;
	font-weight: bold;
	color: rgb(4, 255, 171);
}