@charset "UTF-8";
* {
    /* ここにGoogle Fontsのfont-family */
    font-family: 'Yuji Mai', serif;
}
p.gothic {
    font-family: 'Yuji Mai', serif;
}
p.mincho {
    font-family: YuMincho,"ヒラノギ明朝PriN",HGS明朝E,Serif;
}
.fontSize {
    font-size: 16px;
}
.px {
    font-size: 20px;
}
.em {
    font-size: 2em;
}
.normal {
    font-weight: normal;
}
.bold {
    font-weight: bold;
}
p.left {
    text-align : left;
}
p.center {
    text-align : center;
}
p.right {
    text-align : right;
}

